
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,100;1,500&display=swap');

  @import "colors";
  @import "header.scss";
  @import "home.scss";
  @import "cart.scss";
  @import "mediaquery.scss";

  *{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }

  body{
    background-color: $primary;
    color: $tertiary;
  }

